[submodule "common/src/main/resources/assets/minecraftbluearchivehalo/geckolib/spicywolfoffical"]
	path = common/src/main/resources/assets/minecraftbluearchivehalo/geckolib/spicywolfoffical
	url = https://github.com/kepalakubik/Pyroxene-ARR-assets.git
	branch = main
